@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&family=Stalinist+One&display=swap');

/*************************************** Navigation Bar ******************************************/

.navbar {
    top: 0;
    left: 0;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999; 
    width: 100%; 
    height: 90px;
    background: #000;
    opacity: 0.9;
  }
  
  .navbar .nav-link {
    font-size: 20px;
    margin-right: 30px;
    position: relative;
    color:#fff
  }
  
  .navbar .nav-link::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 0px;
    height: 2px;
    background-color:#da250d;
    box-shadow: 0px 0px 8px #3e1bdd;
    transition: all 0.6s ease;
    transform-origin: center;
  }
  
  .navbar .nav-item:hover .nav-link::before {
    width: 100%;
  }
  
  .navbar .nav-link.active {
    color:#fff;
    font-weight: 500;
  }
  
  .navbar .navbar-brand img {
    max-height: 80px;
  
  }
  
  .dropdown-menu {
    background-color: black;
  }
  
  .dropdown-item {
    color:#fff;
  }
  
  .navbar .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    
  }
  
  .navbar .toggle-btn {
    cursor: pointer;
    position: relative;
    top: 1px;
    z-index: 1100;
    left: 100px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navbar .toggle-btn .bar {
    width: 25px;
    height: 3px;
    margin: 7px 0 7px auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #da250d;
  }
  
  .navbar .toggle-btn .bar:nth-child(2) {
    width: 35px;
  }
  
  .navbar #toggle-menu {
    display: none;
  }
  
  .navbar #toggle-menu:checked + label.toggle-btn .bar:nth-child(2) {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  
  .navbar #toggle-menu:checked + label.toggle-btn .bar:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(45deg);
    -ms-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
  }
  
  .navbar #toggle-menu:checked + label.toggle-btn .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  
  
  
  /********************************************* Modal ********************************************/
  
  .modal-dialog .modal-content {
    background-color: #fff;
  }
  
  .modal-dialog .modal-header,
  .modal-dialog .modal-footer {
    border: none;
  }
  
  .modal-dialog .modal-body {
    padding-top: 1px;
    background-color: black;
  }
  
  .modal-dialog .nav-link {
    font-size: 18px;
    margin-bottom: 30px;
    color:#fff;
  }
  
  .modal-dialog .nav-link.active {
    font-size: 18px;
    margin-bottom: 30px;
    color:#fff;
  }
  
  .modal-dialog .btn-secondary {
    color: #fff;
    background-color: #da250d;
    border: none;
  }
  
  .modal-dialog .modal-header img {
    max-height: 200px;
  }
  
  .modal-dialog .nav-link i {
    margin-right: 10px;
    color: #da250d;
  }
  
  /* Search Button */
  
  .modal-dialog .search-bar{
    max-width: 700px;
    background: #3e1bdd;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    padding:0%;
  }
  
  .modal-dialog .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 14px 10px;
    font-size: 15px;
    color: #da250d;
  }
  
  .modal-dialog ::placeholder{
    color:#928f8f;
  }
  
  .modal-dialog .search-bar button img{
    width:25px;
  }
  
  .modal dialog .search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #da250d;
    cursor: pointer;
  }
  
  /* Search Button */
  
  .box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 20px 20px;
    background:transparent;
    backdrop-filter: blur(4px) saturate(180%);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  
  .box:hover input{
    width: 200px;
  }
  
  .box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    color: #fff;
  }
  
  .box a .fas{
    color:#da250d;
    font-size: 18px;
  }

  /* =================================================================================================== */

   /******************************************** Big Bikes & Regular Bikes List********************************************** */
#k{
    padding: 100px;
}

 .fancy {
    --b: 6px;   /* control the border thickness */
    --w: 80px;  /* control the width of the line*/
    --g: 15px;  /* control the gap */
    --c: #da250d;
   
    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid;
    color: #fff;
    background: 
      conic-gradient(from   45deg at left ,var(--c) 25%,#0000 0) 0,
      conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
    background-size: 51% 70%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image: 
       linear-gradient(
         #0000      calc(50% - var(--b)/2),
         var(--c) 0 calc(50% + var(--b)/2),
         #0000    0) 
      1/0 var(--w)/calc(var(--w) + var(--g));
    margin-inline: auto;
    font-size: 50px;
  }
  
  
  /* View More */

/* regular bikes btn */

#testbutton {
    width: 150px;
    height:50px;
    border-radius:180px;
    position:relative;
    left:calc(50% - 75px);
    top:calc(50% - 25px);
    background: linear-gradient(60deg, #da250d, #da250d, red, #da250d, purple, #da250d, #da250d);
    cursor:pointer;
    line-height:12px;
  }
  
  #testbutton:before {
    content:'';
    z-index:1;
    position:absolute;
    display:block;
    width:80%;
    height:70%;
    top:15%;
    left:10%;
    transition: 0.3s opacity ease-in-out;
    filter:blur(15px);
    opacity:0;
    background: linear-gradient(60deg,#da250d, #3e1bdd, red, #da250d, purple, #3e1bdd, #da250d);
  }
  
  #testbutton:hover:before {
    opacity:1;
    transition: 0.3s opacity ease-in-out;
    filter:blur(25px);
    background: linear-gradient(60deg, #da250d, #3e1bdd, red, #da250d, purple, #3e1bdd, #da250d);  
  }
  
  #testbutton:after {
    content:'View More';
    text-align:center;
    line-height:40px;
    font-size:18px;
    color:rgba(235,235,235,1);
    font-weight:bold;
    z-index:5;
    position:absolute;
    display:block;
    border-radius:180px;
    width:92%;
    height:80%;
    top:10%;
    left:4%;  
    background-color:rgb(19, 20, 22);
  }
  
  
    /* BB Button */
    #testbutton1 {
      width: 150px;
      height:50px;
      border-radius:180px;
      position:relative;
      left:calc(50% - 75px);
      top:calc(50% - 25px);
      background: linear-gradient(60deg, #da250d, #da250d, red, #da250d, purple, #da250d, #da250d);
      cursor:pointer;
      line-height:12px;
    }
    
    #testbutton1:before {
      content:'';
      z-index:1;
      position:absolute;
      display:block;
      width:80%;
      height:70%;
      top:15%;
      left:10%;
      transition: 0.3s opacity ease-in-out;
      filter:blur(15px);
      opacity:0;
      background: linear-gradient(60deg,#da250d, #3e1bdd, red, #da250d, purple, #3e1bdd, #da250d);
    }
    
    #testbutton1:hover:before {
      opacity:1;
      transition: 0.3s opacity ease-in-out;
      filter:blur(25px);
      background: linear-gradient(60deg, #da250d, #3e1bdd, red, #da250d, purple, #3e1bdd, #da250d);  
    }
    
    #testbutton1:after {
      content:'View More';
      text-align:center;
      line-height:40px;
      font-size:18px;
      color:rgba(235,235,235,1);
      font-weight:bold;
      z-index:5;
      position:absolute;
      display:block;
      border-radius:180px;
      width:92%;
      height:80%;
      top:10%;
      left:4%;  
      background-color:rgb(19, 20, 22);
    }
    
  
  
    .title2 {
      color:#da250d;
      position: relative;
      text-align: center;
      font-size: 80px;
      letter-spacing: 0px;
      text-shadow: 10px 21px 10px black;
      font-family: 'Poppins', sans-serif;
      text-decoration:none;
    }
  
    .bg3 {
      margin: 0;
      min-height: 100vh;
      display: grid;
      align-content: center;
      background-image: url("2309047.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size:cover;
      background-attachment: fixed;
      background-color: rgba(0,0,0,.5);
    }
    
  
  .card{
    height: 10px;
    width: 100%; 
    background: transparent;
    backdrop-filter: blur(10px) saturate(180%);
    border-radius: 0px;
  }
  
  .card-img-top {
    height: 20vw;
    width: 100%;
    object-fit: contain;
    border-radius: 8px 8px 0px 0;
  }
  
  .card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #da250d;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card-action:hover {
    color: #fff;
    background: #3e1bdd;
    -webkit-animation: pulse 1.5s infinite;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    background: #da250d;
    padding: 10px 15px;
    width: 100%;
  }
  
  .card-text {
    padding: 10px 15px;
    background: transparent;
    font-size: 14px;
    color: #fff;
  }
  
  .card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #da250d;
    color: black;
    border-radius: 0 0 8px 8px;
    
  }
  
  .card-button:hover {
    text-decoration: none;
    background-color: #3e1bdd;
    color: #fff;
  
  }
  
  @-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
  
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
  
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  
  

/*************************************** footer *****************************************************/
}
  
.sau {
  color:#da250d;
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}
.sb {
  color:#da250d;
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}
.ss {
  color:#da250d;
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}
.sc {
  color:#da250d;
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

.sau {
  text-align: left;
}

.sp {
  text-align: left;
}

.sb {
  text-align: left;
}

.pbb {
  text-align: left;
}

.prb {
  text-align: left;
}

.ppo {
  text-align: left;
}

.ss {
  text-align: left;
}

.sr {
  text-align: left;
}
.su {
  text-align: left;
}

.sc {
  text-align: left;
}

.ch {
  text-align: left;
}

.ce {
  text-align: left;
}

.cp {
  text-align: left;
}
.ccp {
  text-align: left;
}

/* ===================Top Bottom================ */

.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: transparent;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 50px;
}

/*************************************** Make website mobile friendly **************************************/




@media screen and (max-width:600px) 
{

/* Title */

.fancy {
  --b: 6px;   /* control the border thickness */
  --w: 80px;  /* control the width of the line*/
  --g: 15px;  /* control the gap */
  --c: #da250d;
 
  width: fit-content;
  padding: 0 2em;

  line-height: 1.6em;
  border: 1px solid;
  color: #fff;
  background: 
    conic-gradient(from   45deg at left ,var(--c) 25%,#0000 0) 0,
    conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
  background-size: 51% 70%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image: 
     linear-gradient(
       #0000      calc(50% - var(--b)/2),
       var(--c) 0 calc(50% + var(--b)/2),
       #0000    0) 
    1/0 var(--w)/calc(var(--w) + var(--g));
  margin-inline: auto;
  font-size: 25px;
 
}

/* viewmore */

#testbutton {
  width: 150px;
  height:50px;
  border-radius:180px;
  position:relative;
  left:calc(50% - 75px);
  top:calc(50% - 25px);
  background: linear-gradient(60deg, #da250d, #da250d, red, #da250d, purple, #da250d, #da250d);
  cursor:pointer;
  line-height:12px;
}

#testbutton:before {
  content:'';
  z-index:1;
  position:absolute;
  display:block;
  width:80%;
  height:70%;
  top:15%;
  left:10%;
  transition: 0.3s opacity ease-in-out;
  filter:blur(15px);
  opacity:0;
  background: linear-gradient(60deg,#da250d, #3e1bdd, red, #da250d, purple, #3e1bdd, #da250d);
}

#testbutton:hover:before {
  opacity:1;
  transition: 0.3s opacity ease-in-out;
  filter:blur(25px);
  background: linear-gradient(60deg, #da250d, #3e1bdd, red, #da250d, purple, #3e1bdd, #da250d);  
}

#testbutton:after {
  content:'View More';
  text-align:center;
  line-height:40px;
  font-size:13px;
  color:rgba(235,235,235,1);
  font-weight:bold;
  z-index:5;
  position:absolute;
  display:block;
  border-radius:180px;
  width:92%;
  height:80%;
  top:10%;
  left:4%;  
  background-color:rgb(19, 20, 22);
}

/* navbar */

.navbar{
  top: 0;
  left: 0;
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9999; 
  width: 100%; 
  height: 80px;
  background: #000;
  opacity: 0.9;
 }

 .navbar .navbar-brand img {
  max-height: 50px;

}

/* modalnavbar */

.modal-dialog .modal-content {
  background-color: #fff;
}

.modal-dialog .modal-header,
.modal-dialog .modal-footer {
  border: none;
}

.modal-dialog .modal-body {
  padding-top: 0px;
  background-color: black;
}

.modal-dialog .nav-link {
  font-size: 18px;
  margin-bottom: 1px;
  color:#fff;
}

.modal-dialog .nav-link.active {
  font-size: 18px;
  margin-bottom: 1px;
  color:#fff;
}

.modal-dialog .btn-secondary {
  color: #fff;
  background-color: #da250d;
  border: none;
}

.modal-dialog .modal-header img {
  max-height: 100px;
}

.modal-dialog .nav-link i {
  margin-right: 10px;
  color: #da250d;
}

/* bigbikes & regular bikes */

.title2 {
  color:#da250d;
  position: relative;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0px;
  text-shadow: 10px 21px 10px black;
  font-family: 'Poppins', sans-serif;
  text-decoration:none;
}

.bg2 {
  margin: 0;
  min-height: 100vh;
  display: grid;
  align-content: center;
  background-image: url("motorcycles-ducati_panigale_899-ducati-mototsikl-baik-vid_sboku-140077-modified.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  background-attachment: fixed;
  background-color: rgba(0,0,0,.5);
}

 .card{
  height: 1px;
  width: 100%; 
  background: transparent;
  backdrop-filter: blur(10px) saturate(180%);
  border-radius: 0px;
}

.card-img-top {
  height: 50vw;
  width: 100%;
  object-fit: contain;
  border-radius: 8px 8px 0px 0;
}

.card-text {
  padding: 10px 15px;
  background: transparent;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

/* Go top and SM */

.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: transparent;
  bottom: 40px;
  right: 10px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 30px;
}  

#k{
  padding: 15px;
}

}